@model List<EnderecoModel>
@{
    ViewData["Title"] = "Lista de endereços";
}
<div class="d-grip gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-primary" asp-controller="Endereco" asp-action="Create" role="button">Adicionar endereço</a>
    
</div>
<br />
@if (TempData["MensagemSucesso"] != null) {
<div class="alert alert-success" role="alert">
    <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
     @TempData["MensagemSucesso"]
</div>
}

@if (TempData["MensagemErro"] != null) {
<div class="alert alert-danger" role="alert">
    <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
     @TempData["MensagemErro"]
</div>  
}

<br />


<div class="text-center">
    <h1 class="display-4">Endereços</h1>
    <br />


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">CEP</th>
            <th scope="col">Logradouro</th>
            <th scope="col">Complemento</th>
            <th scope="col">Bairro</th>
            <th scope="col">Cidade</th>
            <th scope="col">UF</th>
            <th scope="col">Numero</th>
            <th scope="col">ID usuario</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (EnderecoModel endereco in Model)
                {
                    <tr>
                        <th scope="row"> @endereco.Id<th>
                        <td>@endereco.Cep</td>
                        <td>@endereco.Logradouro</td>
                        <td>@endereco.Complemento</td>
                        <td>@endereco.Bairro</td>
                        <td>@endereco.Cidade</td>
                        <td>@endereco.Uf</td>
                        <td>@endereco.Numero</td>
                        <td>
                            <div>
                                <a role="button" class="btn btn-success" asp-route-id="@endereco.Id" asp-controller="Endereco" asp-action="Edit">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@endereco.Id" asp-controller="Endereco" asp-action="DeleteConfirm">Deletar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="5">Nenhum usuário encontrado</td></tr>
            }
        </tbody>
</table>

</div>
